.menu {
    &__list {
        min-height: calc(100vh - 60px);
        padding: 50px 110px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
		flex-wrap: wrap;
		gap: 25px;
    }
}