.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    background-color: rgba(0,0,0, .9);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
	padding: 0 50px;
	z-index: 2;
	&__navbar {
		display: flex;
		li {
			list-style: none;
			margin-right: 30px;
			font-size: 18px;
		}
	}
    &__link {
		position: relative;
        display: inline-block;
        color: #fff;
		text-decoration: none;
		padding: 10px;
	}
    &__cart {
        width: 20px;
        margin-right: 10px;
	}
	.active {
		color: #ffa812;
		&::after {
			content:'';
			position: absolute;
			height: 3px;
			width: 100%;
			top: 90%;
			left: 0;
			background-color: #ffa812;
		}
	}
	.marker {
		position: absolute;
		top: 100%;
		left: 0;
		height: 5px;
		background-color: #ffa812;
		border-radius: 10px;
		transition: all 0.5s ease;
	}
}